.accordeon-checkbox {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.accordeon-small {
    @include tablet {
        width: pxToRem(740px) !important;
    }
}

.accordeon {
    width: 100%;
    color: white;
    overflow: hidden;
    margin-bottom: pxToRem(20px);
    &-label {
        display: flex;
        justify-content: space-between;
        padding: pxToRem(16px);
        font-weight: 500;
        background-color: $color-primary;
        font-size: pxToRem(13px);
        border-radius: pxToRem(5px);
        font-family: $font-family;
        @include tablet {
            border-radius: pxToRem(10px);
            font-size: pxToRem(24px);
        }
        cursor: pointer;
        &::after {
          content: "";
          float: right;
          width: pxToRem(32px);
          height: pxToRem(16px);
          text-align: center;
          transition: all .35s;
          margin-top: pxToRem(7px);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('../../../public/arrow-up.png');
        }
    }
    &-content {
        max-height: 0;
        padding: 0 pxToRem(16px);
        color: $color-primary;
        background: #F6F6F6;
        transition: all .35s;
        font-size: pxToRem(12px);
        border-radius: 0 0 pxToRem(5px) pxToRem(5px);
        font-family: $font-family;
        font-weight: 400;
        @include tablet {
          border-radius: 0 0 pxToRem(10px) pxToRem(10px);
        }
    }
}

.accordeon-checkbox.checked {
    + .accordeon-label {
        &::after {
          transform: rotate(180deg);
        }
    }
    ~ .accordeon-content {
        max-height: 100vh;
        padding: 1em;
    }
}