.footer {
    position: absolute;
    width: 100%;
    height: pxToRem(200px);
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    right: 0;
    @include tablet{
        margin-top: pxToRem(32px);
    }
}

.logo-footer {
    width: pxToRem(80px);
    margin-bottom: pxToRem(16px);
    @include tablet{
        width: pxToRem(120px);
    }

}

.textefooter {
    color: white;
    font-family: $font-family;
    font-size: pxToRem(12px);
    @include tablet{
        font-size: pxToRem(20px);
    }
}
