.ThumbContainer{
    @include tablet {
    top: 36%;
    bottom: 24%;
    width: 99%;
    position: absolute;
    border-radius: pxToRem(10px);
    background-color:#E5E5E5;
    border-radius: pxToRem(15px);
    }
    }
.Thumb{
    border: 1px solid black;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 3%;
    width:27% ;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
}
// .Thumb>img{
// position: absolute;
// left: 0%;
// right: 0%;
// top: 0%;
// bottom: 0%;

// background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
// border-radius: 10px;

// }

