.thumb {
    @include tablet {
        margin-right: pxToRem(35px);
        margin-left: pxToRem(35px);
        margin-bottom: pxToRem(70px);
    }
}

.thumb-main {
    width: 90%;
    border-radius: pxToRem(25px);
    @include tablet {
        margin: pxToRem(40px) auto;
        background: #F7F7F7;
    }
}

.thumb-container {
    display: flex;
    flex-wrap: wrap;
    padding-right: pxToRem(15px);
    padding-top: pxToRem(40px);
    @include tablet {
        justify-content: center;
    }
}

.thumb-card {
    width: pxToRem(330px);
    height: pxToRem(330px);
    display: flex;
    align-items: flex-end;
    background-size: cover;
    border-radius: pxToRem(15px);
    position: relative;
    margin-left: pxToRem(30px);
    margin-top: pxToRem(20px);
    @include tablet {
        margin-left: pxToRem(20px);
        width: pxToRem(400px);
        height: pxToRem(400px);
    }
}

.thumb-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: pxToRem(15px);
}

.thumb-title {
    position: relative;
    color: white;
    font-family: $font-family;
    font-weight: 500;
    font-size: pxToRem(18px);
    width: pxToRem(240px);
    height: pxToRem(52px);
    left: pxToRem(20px);
    bottom: pxToRem(10px);
    z-index: 1;
}
