.error-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 4em;
}

.error-code {
    font-family: $font-familly;
    font-weight: 700;
    font-size: 250px;
    color: $color-primary;
}

.error-info {
    font-family: $font-familly;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    color: $color-primary;
    margin-bottom: 3em;
}

.error-link {
    font-family: $font-familly;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-decoration-line: underline;
    color: $color-primary;
}

// @media screen and (max-width:480px) {
// }
