.error-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: pxToRem(32px);
    @include tablet{
        margin-top: pxToRem(64px);
    }
}

.error-code {
    font-family: $font-familly;
    font-weight: 700;
    font-size: pxToRem(100px);
    color: $color-primary;
    @include tablet{
        font-size: pxToRem(250px);
    }

}

.error-info {
    font-family: $font-familly;
    font-style: normal;
    font-weight: 500;
    font-size: pxToRem(16px);
    color: $color-primary;
    margin-bottom: pxToRem(48px);
    @include tablet{
        font-size: pxToRem(36px);
    }
}

.error-link {
    font-family: $font-familly;
    font-style: normal;
    font-weight: 500;
    font-size: pxToRem(12px);
    text-decoration-line: underline;
    color: $color-primary;
    @include tablet{
        font-size: pxToRem(18px);
    }
}
